priority 1
snippet clicksetup "Setup a click package" b
from setuptools import setup, find_packages


setup(
    name='${1:`!p snip.rv = os.path.basename(os.path.dirname(os.path.abspath(path)))`}',
    version='${2:0.1}',
    include_package_data=True,
    packages=find_packages(),
    install_requires=[
        'Click',$0
    ],
    entry_points='''
    [console_scripts]
    $1=$1:cli
    '''
)
endsnippet
