priority 1
snippet setuptools-cli "Setup a cli module" b
from setuptools import setup


setup(
    name='${1:name}',
    version='${2:1.0}',
    py_modules=['$1'],
    install_requires=[
        'Click',
        $0
    ],
    entry_points='''
    [console_scripts]
    $1=$1:cli
    '''
)
endsnippet
